.faqs-container {
  /* background-color: red; */
  max-width: 500px;
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
}

.faqs-question {
  background-color: var(--Light-Background);
  border-radius: 5px;
  color: var(--dark-text);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 5px 0;

  .icons {
    margin-left: 20px;
  }
}

.faqs-answer {
  transition: all 1s ease;
  max-height: auto;
  padding: 20px;
  background-color: var(--Light-Background);
  overflow: hidden;
  border-radius: 5px;
}
