footer {
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  p {
    color: var(--dark-text);
    text-align: center;
    margin-top: 10px;
  }
}

footer .nav-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .footer-logo {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    color: var(--dark-text);
  }

  .footer-logo span {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .container-links {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }

  .links ul li {
    margin-bottom: 0.5rem;
    color: var(--dark-text);
  }

  .social-media {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    .icons {
      background-color: white;
      color: var(--primary-color);
      font-size: 2rem;
      padding: 5px;
      border-radius: 100%;
      cursor: pointer;
    }
  }
}

hr {
  border: 1px solid var(--dark-text);
  opacity: 0.3;
}
