header .NavBar{
    width: 100%;
    z-index: 999;
}



nav{
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;
    z-index: 999;



    
    .logo{
    font-size: 2rem;
    font-weight: 600px;
    z-index: 999;
    }


    ul{
        display:flex; 
        align-items: center;
        justify-content: center;


        li{
            display: block;
            text-align: center;
            transition: all .5s ease-in-out;
            padding: 10px;


            
                &:hover{
                    background-color: white;
                
                }


                a{
                padding: 10px 20px;
                cursor: pointer;
                color: var(--dark-text);
                font-weight: bold;
            
            }
        }

    }


    button{
        color: var(--dark-text);
        padding: 10px;
        border: none;
        font-weight: 600;
        cursor: pointer;
        /* width: 100%; */
    }


}

.logins-details{
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 999;
}

.toggle-btns{
    display: none;
    cursor: pointer;
}


.nav-col{
    background-color:var(--primary-color);
    width: 100%;
    height: 90vw;
    display: flex;
    gap: 10px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    position: absolute;
    top: 59px;
    left: 0;
    z-index: 99;
    animation: slideDown .5s ease-in-out;

}


@keyframes slideDown{
    from{top:0; opacity: 0;}
    to {top: 59px; opacity: 1;}
}


/* mobile screen */

@media (width < 768px) {
    nav  ul{
        display:none;
        
    }

    /* .nav-col{
        display: flex;
    } */

    .toggle-btns{
        display: block;
    }
}

