.subscription-container {
  display: grid;
  place-content: center;
  padding: 40px;
}

.subscription-form {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--tertiary-color);
  padding: 3rem;
  border-radius: 0.625rem;
  background-color: var(--primary-color);

  h1 {
    color: white;
    text-align: center;
  }

  p {
    font-weight: lighter;
    color: white;
    text-align: left;
  }

  input {
    padding: 20px;
    border-radius: 0.25rem;
    border: none;
    width: 100%;
  }

  button {
    padding: 20px;
    border: 2px solid var(--Light-Background);
    font-weight: bold;
    border-radius: 0.25rem;
    cursor: pointer;
    color: var(--Light-Background);
    width: 100%;
    transition: all 0.3s ease-in-out;
    background-color: transparent;

    &:hover {
      background-color: var(--Light-Background);
      color: var(--primary-color);
    }
  }

  .search {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
  }
}
